In [ ]:
print('We are learning python')

We are learning python

In [ ]:
# variable
x = 9
x = x * 3
print(x)

27

In [ ]:
9 != 8

True

In [ ]:
1+1 == 2

True

In [ ]:
y = 2.3
print(y)

2.3

In [ ]:
type(y)

float

In [ ]:
string = "Ammar"
print(string)

Ammar

In [ ]:
list_one = [12, 'ammar', 2.3]
print(list_one)

[12, 'ammar', 2.3]

In [ ]:
print(list_one[0])

12

In [ ]:
list_one[0] = 13
list_one

[13, 'ammar', 2.3]

In [ ]:
tuple_one = (1,'Ammar', 3)

In [ ]:
Dict = {"Gender": "Male", "CNIC": "1234"}


# 4 Dict / 5 keyvalue pairs
print(5 +1)

6

In [ ]:
print( 5 / 3)

1.6666666666666667

In [ ]:
print( 5 // 3)

1

In [ ]:
print(5 ** 3)

125

In [ ]:
import math
from math import sqrt

In [ ]:
sqrt(125)

11.180339887498949

In [ ]:
print(125 ** (1/3))

4.999999999999999

In [ ]:
1 / 3

0.3333333333333333

In [ ]:
 x = x % 3
 x += 125 %3

In [ ]:
  x  = "hello world"
  print('' in x)

True

In [ ]:
print( 5 & 3)

1

In [ ]:
int(input(" Insert value: "))

 Insert value: 1

1

In [ ]:
age = int(input("Enter number: "))
if age < 12:
  print('Cannot smoke')
else:
  print('Who are you')

Enter number: 22
Who are you

In [ ]:
stock_price = float(input('Enter Value: '))
if stock_price > 20:
  print(stock_price + 20)
else:
  print(stock_price-20)

Enter Value: 19
-1.0

In [ ]:
# Write a program to subtract age from 10 if its less than 100
# write a program  to calculate your profit from 20% of the cost

In [ ]:
for i in range(1,10):
  print(i, "is five times equal to ", i*5)

1 is five times equal to  5
2 is five times equal to  10
3 is five times equal to  15
4 is five times equal to  20
5 is five times equal to  25
6 is five times equal to  30
7 is five times equal to  35
8 is five times equal to  40
9 is five times equal to  45

In [ ]:
for i in range(13):
  print(i, "is five times equal to ", i*5)

0 is five times equal to  0
1 is five times equal to  5
2 is five times equal to  10
3 is five times equal to  15
4 is five times equal to  20
5 is five times equal to  25
6 is five times equal to  30
7 is five times equal to  35
8 is five times equal to  40
9 is five times equal to  45
10 is five times equal to  50
11 is five times equal to  55
12 is five times equal to  60

In [ ]:
i = 0
while i <= 5:
  if (i == 4):
    break

KeyboardInterrupt:

In [ ]:
i = 0
while i < 5:
  if i == 4:
    break
  print(i)
  i = i + 1

0
1
2
3

In [ ]:
def int_inc(x,r,y,m):
  if x == r*0.7:
    return y*1.01
  elif m == y*1.04:
    return r*1.01

In [ ]:
def tax_calc(tx,tr,x):
  if tx == tr*x:
    print('You are an honest tax payer')
  else:
    print('You are dishonest')

In [ ]:
tax_calc(12,0.1,120)

You are an honest tax payer

In [ ]:
def g_t(x):
  if x == 'Male':
    return 0
  elif x == "Transgender":
    return 2
  elif x == "Female":
    return 1
  else:
    print(" you are an alien")

In [ ]:
g_t('Male')

0

In [ ]:
g_t('Female')

1

In [ ]:
g_t('Spirit Animal')

 you are an alien

In [ ]:
pd.DataFrame({'monkeydict':pd.Series(monkeydict),'pigdict':pd.Series(pigdict)})